.intro-image-initial-container {
    margin-top: 150px;
    /* top: 150px; */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.image-container {
    flex: 1;
    display: flex;
    /* flex-direction: row; */
    /* top: 150px; */
    /* top: 200px; */
    /* margin: 0; */
    position: relative;
    margin: 0 50px 0 50px;
    max-width: 1900px;
    max-height: 1000px;
    /* height: 800px; */
    /* height: 100%; */
    align-items: center;
    justify-content: end;
    /* border: 2px solid red; */
    overflow: hidden;
    /* border: 2px solid black; */
}

.slideshow-image {
    width: 100%;
    display: none;
    overflow: hidden;
    object-fit: cover;
    z-index: 300;
}

.slideshow-image-bottom-image {
    opacity: 0.5;
    width: 100%;
    overflow: hidden;
    object-fit: cover;
    z-index: 300;
}

.previous {
    font-weight: bold;
    font-size: 40px;
    padding: 16px;
    margin-top: 25%;
    width: auto;
    position: absolute;
    color: black;
    top: 0;
    left: 0;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
    user-select: none;
    z-index: 500;
}

.next {
    font-weight: bold;
    font-size: 40px;
    padding: 16px;
    margin-top: 25%;
    width: auto;
    position: absolute;
    color: black;
    top: 0;
    right: 0;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
    user-select: none;
    z-index: 500;
}

.Dot {
    display: flex;
    cursor: pointer;
    height: 20px;
    width: 20px;
    margin: 0 2px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
    /* border: 1px solid black; */
}

.slideshow-image-preview {
    display: inline-block;
    flex: 1;
    max-width: 150px;
    height: 90px;
    margin: 10px;
    /* border: 1px solid black; */
    cursor: pointer;
    align-items: center;
}

.Dot:hover {
    background-color: gray;
}

@keyframes fade {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeInImage {
    0% {opacity: 0;}

    100% {opacity: 1;}
}

.gallery-fade {
    animation: fadeInImage ease 3s;
    animation-iteration-count: 1;
}

.dot-container {
    display: flex;
    margin-top: 10px;
    left: 500px;
    right: 500px;
    max-height: 80px;
    /* border: 1px solid black; */
    /* margin: 0; */
    align-items: center;
    justify-content: center;
    
}

.dot-inner-container {
    flex: 1;
    display: flex;
    /* position: absolute; */
    max-width: 700px;
    /* left: 200px;
    right: 200px; */
    height: 100%;
    /* border: 1px solid blue; */
    justify-content: space-around;
    align-items: center;
}

.active {
    opacity: 1;
}

.fade {
    animation-name: fade;
    animation-duration: 1s;
}

.text-container {
    display: flex;
    position: absolute;
    right: 0;
    max-height: 500px;
    max-width: 600px;
    background-color: lightgray;
    /* border: 1px solid black; */
    z-index: 400;
    overflow: hidden;
}

@media (max-width: 1500px) {
    .text-container {
        max-height: 300px;
        max-width: 400px;
    }
}

@media (max-width: 1200px) {
    .text-container {
        max-height: 200px;
        max-width: 300px;
    }

    .previous {
        font-size: 20px;
    }

    .next {
        font-size: 20px;
    }
}

@media (max-width: 800px) {
    .text-container {
        max-height: 150px;
        max-width: 150px;
    }
}

@media (max-width: 550px) {
    .text-container {
        max-height: 150px;
        max-width: 100px;
        margin: 0 15px 0 15px;
    }

    .image-container {
        margin: 0 15px 0 15px;
    }

    /* .dot-inner-container {} */
}
