.wide-bottom {
    display: flex;
    /* flex: 1; */
    /* flex-direction: row; */
    /* border: 1px solid black; */
    background-color: #F5F5F1;
    /* flex-direction: row; */
    max-height: 450px;
    /* min-width: 1650px; */
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    /* bottom: 0; */
}

.wide-bottom-image {
    display: flex;
    flex: 1 1 auto;
    width: 900px;
    overflow: hidden;
    /* position: relative; */
    /* margin-top: 800px; */
    /* object-position: top; */
    /* border: 1px solid red; */
}

.wide-bottom-boxes {
    display: flex;
    flex: 1 1 auto;
    /* position: absolute; */
    flex-direction: column;
    /* margin-top: 130px; */
    height: 500px;
    max-width: 1500px;
    z-index: 500;
    /* border: 5px solid black; */
    align-items: center;
    justify-content: center;
}

.first-text {
    display: flex;
    flex: 1 1 auto;
    /* position: absolute; */
    /* padding: 60px 0; */
    text-align: center;
    justify-items: center;
    font-weight: bold;
    font-size: 45px;
    /* border: 1px solid red; */
    margin-top: 30px;
    margin-bottom: 0;
    /* height: 35%; */
    max-width: 60%;
    font-family: "Libre Franklin";
}

.last-box {
    display: flex;
    flex: 1;
    flex-direction: row;
    /* height: 100% */
    /* border: 1px solid red; */
    margin-left: 20px;
    /* height: 100%; */
    max-width: 800px;
    margin-bottom: 40px;
    /* margin-right: 200px; */
}

.last-box-text {
    display: flex;
    font-family: "Butler";
    flex-direction: column;
    flex: 1 1 auto;
    font-size: 24px;
    /* border: 1px solid red; */
    /* height: 70%; */
    width: 180%;
}

.last-box-button {
    display: flex;
    flex: 1 1 auto;
    
    /* border: 1px solid blue; */
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-bottom: 150px;
}


.wide-bottom-button {
    font-size: 25px;
    font-family: "Butler";
    color: black;
    width: 90%;
    height: 60px;
    /* border-radius: 10px; */
    /* background-color: gray; */
    border-color: black;
    border-width: 1px;
}

@media (max-width: 2400px) {
    .last-box {
        margin-right: 0;
    }
}

@media (max-width: 1500px) {
    .first-text {
        font-size: 30px;
    }
}



@media (max-width: 1250px) {
    .first-text {
        font-size: 20px;
        margin-top: 20px;
    }

    .last-box-text {
        font-size: 15px;
    }

    .wide-bottom {
        max-height: 340px;
    }

    .wide-bottom-boxes {
        height: 340px;
    }

    .wide-bottom-button {
        font-size: 17px;
    }
}

@media (max-width: 920px) {
    .first-text {
        font-size: 20px;
        margin-top: 100px;
    }

    .last-box-text {
        font-size: 15px;
        /* margin-top: 50px; */
    }

    .wide-bottom-button {
        margin-bottom: 20px;
        font-size: 15px;
    }

    .wide-bottom {
        max-height: 300px;
    }

    .wide-bottom-boxes {
        height: 300px;
    }

    .gallery-initial-container {
        margin-top: 50px;
    }
}

@media (max-width: 750px) {
    .wide-bottom-image {
        position: relative;
        opacity: 0.3;
    }

    /* .wide-bottom-image {
        position: relative;
    } */

    .wide-bottom-boxes {
        /* overflow-x: auto; */
        position: absolute;
        max-width: 550px;
    }

    .wide-bottom {
        align-items: center;
        justify-content: center;
    }

    .wide-bottom-button {
        width: 130px;
        height: 40px;
        font-size: 20px;
    }
}